<h1>Bienvenue sur le site</h1>

<div class="container">
    <img class="head" src="{{asset('/image/ardennes.jpg')|imagine_filter('welcome')}}"/>
    <div class="link">
        <a class="portfolioLink" href="{{path('portfolio')}}">Portfolio</a>
    </div>
    
</div>
