{% extends 'base.html.twig' %}

{% block body %}
    
    {% set img = categorie.peintures|last %}

    {% for peinture in peintures %}
        <div class="card " style="width: 18rem;">
            <h2>{{peinture.nom}}
            <img src="{{vich_uploader_asset(peinture, 'imageFile')}}" class="card-img-top" alt="...">  
        </div>
    {% endfor %}

{% endblock %}
