@import "~bootstrap/scss/bootstrap";

.head {
    width: 100%;
    height: 500px;
}

img {
    width: 50%;
}

.aPropos {
    background-image: url("../../public/image/zach.jpg");
    background-repeat: no-repeat;
    height: 50vh;
}